.tooltip {
  background-color: white;
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.12);
  font-size: 13px;
  text-align: center;
  width: 100px;
  text-transform: uppercase;
  border-radius: 2px;
}

.option:hover {
  background-color: rgb(244, 240, 241);
  color: rgb(135, 4, 4);
  text-decoration: underline;
  cursor: pointer;
}
.option {
  min-height: 30px;
  cursor: pointer;
  padding: 10px 5px 0 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: background-color 0.2s ease;
}
