body {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
}
h1 {
  color: var(--color-gray);
}
a {
  text-decoration: none;
  color: rgb(48, 47, 47);
  text-transform: uppercase;
}

.bg-banner {
  background-position-x: right;
  background-position-y: center;
  background-color: #8473922e;
}

.containner-inner {
  width: 1400px;
  padding: 15px;
}
.d-flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.bg-black {
  background: black;
}
.jc-evenly {
  justify-content: space-evenly;
}
.c-white {
  color: white;
}
.jc-center {
  justify-content: center;
}
.w-25pr {
  width: 25%;
}
.w-100px {
  width: 100px;
}

.w-650px {
  width: 650px;
}
.w-60pr {
  width: 60%;
}

.c-red {
  color: red;
}
.b-repeat-no-repeat {
  background-repeat: no-repeat;
}
.h-100px {
  height: 100px;
}
.p-relative {
  position: relative;
}
.top-100px {
  top: 100px;
}
.w-35pr {
  width: 35%;
}
.h-500px {
  height: 500px;
}
.c-black-gray {
  color: rgb(48, 47, 47);
}
.fs-70px {
  font-size: 70px;
}
.fs-25px {
  font-size: 25px;
}
.m-block-0 {
  margin-block: 0;
}
.button-red {
  border: 0;
  background: red;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  height: 35px;
  width: 150px;
  margin-top: 40px;
}
.w-100pr {
  width: 100%;
}
.h-300px {
  height: 300px;
}
.w-25pr {
  width: 25%;
}
.w-200px {
  width: 200px;
}
.h-45px {
  height: 45px;
}
.border-0px {
  border: 0px;
}
.bg-white {
  background: white;
}
.tt-uppercase {
  text-transform: uppercase;
}
.fs-20px {
  font-size: 20px;
}
.bg-position-center {
  background-position: center;
}
.p-top-30px-bottom-40px {
  padding: 30px 0 40px 0;
}
.br-3px {
  border-radius: 3px;
}
a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.ff-poppins100 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.ff-poppins500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.ff-poppins400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.lh-100pr {
  line-height: 100%;
}
.box-shadow-litepink {
  box-shadow: 1px 10px 15px 0px #efd2d2;
}
.display-none {
  display: none;
}
.tt-uppercase {
  text-transform: uppercase;
}

.p-right25px {
  padding-right: 25px;
}
.p-right45px {
  padding-right: 45px;
}
@media (max-width: 1085px) {
  .h1-media {
    font-size: 40px;
  }
  .h3-media {
    font-size: 12px;
  }
  .img-button {
    margin-top: 20px;
  }
  .box-img-button {
    display: grid;
    justify-content: center;
    padding-top: 0px;
  }
}

@media (max-width: 845px) {
  .img-banner {
    display: none;
  }
  .media-100pr {
    width: 100%;
    text-align: center;
  }
  .h1-media {
    font-size: 70px;
  }
  .h3-media {
    font-size: 17px;
  }
  .button-red {
    width: 250px;
    height: 50px;
    font-size: 25px;
  }
  .p-right20px-media {
    padding-right: 20px;
  }
  .p-right15px-media {
    padding-right: 15px;
  }
}
@media (max-width: 745px) {
  .bg-img-women {
    height: 270px;
  }
  .bg-img-accessories {
    height: 270px;
  }
  .bg-img-men {
    height: 270px;
  }
  .hidden-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
@media (max-width: 660px) {
  .box-img-button {
    display: block;
  }
  .bg-img-women {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  .bg-img-accessories {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  .bg-img-men {
    height: 300px;
    width: 100%;
  }
  .button-img {
    width: 300px;
    height: 60px;
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .ai-end-media {
    align-items: flex-end;
  }
}

.p-fixed {
  position: fixed;
}
.button-fixed {
  width: 40px;
  height: 30px;

  border: 0;
  background-color: black;
  background-image: url(http://localhost:3000/static/img/lines.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.button-fixed:focus {
  border: 3px solid darkgray;
  border-radius: 3px;
}

.h-50px {
  height: 50px;
}
.w-350px {
  width: 350px;
}

.img-zoom {
  transition: transform 1s ease-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}
.p-absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.h-auto {
  height: auto;
}

.list-fixed-block {
  margin-block: 0px;
  padding-inline-start: 0;
  list-style-type: none;
}
.z-index-99999999 {
  z-index: 99999999;
}
.overflow-hidden {
  overflow: hidden;
}
.h-0 {
  height: 0;
}

.mobile-menu-hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
.mobile-menu-visible {
  height: 200px;
  overflow: hidden;
  transition: height 0.3s;
}

a:active {
  color: black;
}
a:link {
  color: rgb(48, 47, 47);
}
.a-visited:visited {
  color: lightgray;
}
